# Build artifacts
target/
build/
bin/
out/

# Ignoring results of build
**/target/
**/build/

# Maven Wrapper
# .mvn/wrapper/maven-wrapper.jar

# Секреты и настройки окружения
.env
.env.local
.terraform
*.tfstate

# Logs
*.log
logs/

# IDE - IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# IDE - VS Code
.vscode/

# IDE - Eclipse/STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# System files
.DS_Store
Thumbs.db
src/main/java/com/dmytro/language_learning_api.zip
src/main/java/com/dmytro/language_learning_api/language_learning_api.zip
